<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Asteel Flash Tunisie</title>
</head>
<body>
<div class="container">
    <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class = "navbar-brand" href = "homepage-static.html">Asteel Flash</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item">
                    <a class = "nav-link" href = "/Gestion_Quatités">Gestion quatités</a>
                </li>
                <li class = "nav-item active">
                    <a class = "nav-link" href = "/Gestion_d_Arréts">Gestion d'arréts</a>
                </li>
                <li class = "nav-item ">
                    <a class = "nav-link" href = "/Gestion_produits">Gestion produits</a>
                </li>
                <li class = "nav-item ">
                    <a class = "nav-link" href = "Afficher">Afficher</a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="#" method="post">
        <h2 class="mt-4">Submit an $top</h2>
        <hr/>
        <!-- Form levels error messages here -->
        <div class="form-group row ">
            <div class="col-sm-8">
                <span class="text-danger"> </span>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-6">
                    <div class="form-group row ">
                        <label for="" class="col-sm-2 col-form-label">Categorie d'arrets</label>
                        <div class="col-sm-4">
                            <select class="form-control" placeholder="Mandatory" id="list1">
                                <option value="">Select an option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>

                        </div>
                        <div class="col-sm-4">
                            <span class="text-danger"> </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row ">
                        <label for="" class="col-sm-2 col-form-label mr-0">types d'arrets</label>
                        <div class="col-sm-4">
                            <select class="form-control" placeholder="Mandatory" id="list2">
                                <option value="">Select an option</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <span class="text-danger"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">

                    <div class="form-group row ">
                        <label for="" class="col-sm-2 col-form-label mr-0">Heure Dedut</label>
                        <div class="col-sm-4">
                            <input type="time" class="form-control" placeholder="00:00">
                        </div>
                        <div class="col-sm-4">
                            <span class="text-danger"> </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <span class="text-danger"> </span>
                    </div>
                </div>
                <div calss="col-6 ">
                    <div class="form-group row">
                        <label for="" class="col-6 col-form-label mr-0">Heure de fin</label>
                        <input type="time" class="form-control col-6" placeholder="00:00">
                    </div>
                </div>
            </div>
        </div>


        <!-- ######################### Third line ################################ !-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="row">Description</label>
                        <div class="row">
                        <textarea class="form-control col-10"  rows="2" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div calss="col-6 ">
                    <div class="form-group row">
                        <label for=""  class="raw">Cause d'arréts</label>
                            <textarea class="form-control raw" rows="2"  placeholder="Max. 50 chars"></textarea>
                    </div>
                </div>
            </div>
        </div>















        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script >

    // Define the options for the second list
const list2Options = {
  "1": ["Pause", "Réunion", "Formation", "Maintenance préventive niveaux 1", "Validation EI", "Modification de la ligne", "Arrêt planifié par la production"],

  "2": ["Démarrage/Arrêt de la ligne", "changement de la série", "stabilisation de ma four"],
  "3": ["Arrêt dû à un manque de kit/outillage"," absence de personnel"," instructions de travail manquantes, problèmes avec l'outillage", "coupure de courant/réseau"," changement de planning de dernière minute", "rupture de composants"],
  "3": ["Option 3-1", "Option 3-2", "Option 3-3", "Option 3-4"]
};

// Get references to the select elements
const list1 = document.getElementById("list1");
const list2 = document.getElementById("list2");

// When an option is selected in the first list
list1.addEventListener("change", function() {
  // Clear the options from the second list
  list2.innerHTML = "<option value=''>Select an option</option>";

  // Get the selected value from the first list
  const selectedValue = list1.value;

  // If a value is selected
  if (selectedValue) {
    // Loop through the options for the second list
    for (let i = 0; i < list2Options[selectedValue].length; i++) {
      // Create a new option element
      const option = document.createElement("option");
      option.text = list2Options[selectedValue][i];
      option.value = list2Options[selectedValue][i];

      // Add the new option to the second list
      list2.add(option);
    }
  }
});

</script>
</body>
</html>