<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Login</title>
</head>
<body>
<div class="container row justify-content-center">
    <label for="" class="col-md-1  col-form-label mr-0"><h1 class="display-3">Connexion</h1>
</div>
<form class="container " th:action="@{/postLogin}" th:object="${woker}" method="post">
    <div class="form-group row justify-content-center  ">
        <label for="" class="col-md-4 col-form-label mr-0"><h5>Nom d'operateur</h5></label>
        <div class="col-md-3">
            <input class="form-control" placeholder="Entrer Nom" th:field="*{workerName}" type="text">
        </div>

    </div>

    <div class="form-group row justify-content-center ">
        <label for="" class="col-md-4 col-form-label mr-0"><h5>Mots de passe</h5></label>
        <div class="col-md-3">
            <input class="form-control" placeholder="Mots de passe" th:field="*{password}" type="password">
        </div>
    </div>
    <div class="form-group row justify-content-center ">
        <label for="" class="col-md-4 col-form-label mr-0"><h5>Equipe de travail</h5></label>
     <div class="col-md-3">
        <select th:field="*{team}" class="form-control" placeholder="Mandatory" id="list1">
            <option value="">Sélectionner Votre équipe </option>
            <option value="Equipe 1">Equipe 1</option>
            <option value="Equipe 2">Equipe 2</option>
            <option value="Equipe 3">Equipe 3</option>
        </select>
     </div>

    </div>



        <div class="form-group row justify-content-center">

                <button type="submit" class="btn btn-success btn-lg">Login</button>

        </div>


</form>

</body>
</html>