<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Asteel Flash Tunisie</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class="navbar-brand" th:href="@{/look}">Asteel Flash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}">Gestion quatités</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Gestion_d_Arréts">Gestion d'arréts</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/look">Gestion </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/Ajouter_Operateur">Ajouter Operateur</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/Ajouter_Produit">Ajouter Produit</a>
                </li>
            </ul>
            <a class="navbar-brand" th:href="@{Deconnexion}">Déconnexion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="row">
        <div class="col-8">
            <div class="row">

                <h2 class="mt-4">Jour de travaille: </h2>
                <h2 class="mt-4" th:text="${date}"></h2>
            </div>

        </div>
        <hr/>

    </div>

</div>
<div align="center" >
    <h2>team</h2>
    <h2 th:text="${team}"></h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <H2>TRS</H2>
                <div id="piechart" ></div>
            </div>
            <div class="col-md-4">
                <H2>TRE</H2>
                <div id="piechart1" ></div>
            </div>
            <div class="col-md-4">
                <H2>TRG</H2>
                <div id="piechart2" ></div>
            </div>
        </div>

    </div>


</div>

    <script th:inline="javascript">
        var real_data = /*[[${chartDataOOE}]]*/'noValue';
       var real_data1 = /*[[${chartDataTRE}]]*/'noValue';
        var real_data2 = /*[[${chartDataTRG}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawPieChart);
            google.charts.setOnLoadCallback(drawPieChart1);
            google.charts.setOnLoadCallback(drawPieChart2);

        });
        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Views');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Blog stats'
            };
            var chart = new google.visualization.PieChart(document
                    .getElementById('piechart1'));
            chart.draw(data, options);
        }
            function drawPieChart1() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Views');
            Object.keys(real_data1).forEach(function(key) {
                data.addRow([ key, real_data1[key] ]);
            });
            var options = {
                title : 'Blog stats'
            };
            var chart = new google.visualization.PieChart(document
                    .getElementById('piechart2'));
            chart.draw(data, options);
        }
              function drawPieChart2() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Views');
            Object.keys(real_data2).forEach(function(key) {
                data.addRow([ key, real_data2[key] ]);
            });
            var options = {
                title : 'Blog stats'
            };
            var chart = new google.visualization.PieChart(document
                    .getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>






</body>
</html>