<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Asteel Flash Tunisie</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class="navbar-brand" href="homepage-static.html">Asteel Flash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}">Gestion quatités</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Gestion_d_Arréts">Gestion d'arréts</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Gestion_Produits">Gestion produits</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/Ajouter_Operateur">Ajouter Operateur</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/Ajouter_Produit">Ajouter Produit</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" th:href="@{Deconnexion}">Déconnexion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <form th:action="@{/postWorkPeiod}" th:object="${workperiod}" method="post">
        <h2 class="mt-4">Gestion de Quantité</h2>
        <hr/>
        <!-- Form levels error messages here -->
        <div class="form-group row ">
            <div class="col-sm-8">
                <span class="text-danger"> </span>
            </div>
        </div>


        <div class="container">

            <div class="form-group row col-6 ">
                <label for="" class="col-sm-6 col-form-label mr-0"><h4>Nom de Produit</h4></label>
                <div class="col-sm-6">
                    <input th:field="*{nomProduit}" type="text" class="form-control" placeholder="Entrer Produit">
                </div>
                <div class="col-sm-4">
                    <span class="text-danger"> </span>
                </div>
                <hr/>

            </div>
            <div class="form-group row col-6">
                <label for="" class="col-3 col-form-label mr-0"><h4>Face</h4></label>
                <input class="col-sm-1" type="radio" id="top"  th:filed="*{face}" name="face" value="top"  th:checked="${workperiod.face == 'top'}">
                <label class="col-2"  for="top"><h6>Top</h6></label><br>
                <input  class="col-sm-1"  type="radio" id="bottom"  th:filed="*{face}"   name="face" value="bottom"  th:checked="${workperiod.face == 'bottom'}">
                <label  class="col-2" for="bottom"><h6>bottom</h6></label><br>
                <hr/>
            </div>

            <div class="form-group row col-6">
                <label for="" class="col-sm-2 col-form-label mr-0 row"><h4>Equipe</h4></label>
                    <select class="form-control" placeholder="Equipe" aria-label="Default select example"
                            th:field="*{shift}">
                        <option value="">entrez votre equipe</option>
                        <option value="'shift1'" text="Equipe 1 ">Equipe 1</option>
                        <option value="'shift2'" text="Equipe 2 ">Equipe 2</option>
                        <option value="'shift3'" text="Equipe 3 ">Equipe 3</option>
                    </select>
                <hr/>

            </div>

                <div class="form-group row col-6">
                    <label for="" class="raw"><h4> Temp de Début</h4></label>
                    <input class="form-control raw" rows="2" type="time" th:field="*{startTime}"
                           placeholder="Max. 50 chars">

                    </input>
                    <hr/>
                </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>




        </div>


    </form>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>